<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>
        <%= title %>
    </h1> -->
    <!-- <img src="<%= img %>" alt="<%= title %>" /> -->
    <img src="http://image.wufazhuce.com/FrZ5WvAdXHCkoqM5EYEc6FRpgAY1" alt="">
    <img src="https://cn.bing.com/th?id=OHR.RajaAmpat_ZH-CN2820406309_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0" alt="<%= title %>" />
</body>
</html>